* {
    font-family: 'Lato', sans-serif !important;
    user-select: none;
}

p {
    margin: 0 !important;
}

main {
    min-height: 90vh;
}

.navbarMenu .navbarMenuItems {
    width: fit-content;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

footer {
    background-color: rgb(59, 48, 177);
}

.navbar-nav li a {
    color: black;
}

.nav-item:hover a {
    transition: border-width 0.3s ease;
    border-bottom: 3px solid rgba(0, 0, 0, 0.253);
}

.categoryItems .items {
    background-color: rgb(228, 228, 228);
    padding: 7px;
}

/* .whatWeDid::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    border-bottom: 4px solid rgb(0, 255, 13);
} */

.more:hover {
    transition: all 0.3s ease;
    color: white;
    background-color: rgb(175, 175, 175) !important;
}

.categoryItems .items:hover {
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
    /* background-color: rgb(170, 170, 170);
    color: white; */
    /* transform: scale(1.01); */
}

.routerShow {
    font-size: 14px;
}

.whatWeDid {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.whatWeDid:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.whatWeDid:hover .movableBorderTop {
    animation: moveTopBorder 0.2s forwards;
    animation-timing-function: ease;
    /* transform: scale(1.02); */
}

.whatWeDid:hover .movableBorderLeft {
    animation: moveLeftBorder 0.2s forwards;
    animation-timing-function: ease;
    /* transform: scale(1.02); */
}


.movableBorder {
    width: 30%;
    height: 30%;
    background-color: rgb(33 81 118);
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: -1;
}

/* .contactFormTitle {} */

@keyframes moveLeftBorder {
    0% {}

    49.9% {
        left: -4px;
    }

    50% {
        top: calc(70% + 4px);
        left: 0;
    }

    100% {
        top: calc(70% + 4px);
        left: 70%;
    }
}

@keyframes moveTopBorder {
    0% {}

    49.9% {
        top: -4px;
    }

    50% {
        left: calc(70% + 4px);
        top: 0;
        right: -4px;
    }

    100% {
        left: calc(70% + 4px);
        top: calc(70% + 4px);
        right: -4px;
        /* left: 70%;
        right: -4px; */
    }
}