* {
    font-family: 'Lato', sans-serif !important;
}

p {
    margin: 0 !important;
}

.navbarMenu .navbarMenuItems {
    width: fit-content;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

footer {
    background-color: rgb(59, 48, 177);
}

.navbar-nav li a {
    color: black;
}