* {
    font-family: 'Lato', sans-serif !important;
    user-select: none;
}

p {
    margin: 0 !important;
}

.navbarMenu .navbarMenuItems {
    width: fit-content;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

footer {
    background-color: rgb(59, 48, 177);
}

.navbar-nav li a {
    color: black;
}

.nav-item:hover {
    transition: border-width 0.3s ease;
    border-bottom: 3px solid rgba(0, 0, 0, 0.253);
}

.categoryItems .items {
    background-color: rgb(238, 238, 238);
    padding: 7px;
}

.whatWeDid {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.whatWeDid:hover {
    cursor: pointer;
    transition: all 0.5s ease;
    transform: scale(1.02);
}